body{
	background: black; color: white; text-align: center;
}
.hidden{
	display: none;
}
hr{
	border-top: 1px solid rgba(255,255,255,0.8); width: 100%;
}
ul{
	padding: 0;
}
li{list-style: none;}

#joining-page{
	margin-top: 8rem;
}
#joined-page{
	margin-top: 2rem;
}

#gamelist{
	padding: 1rem;
}
#gamelist ul{
	overflow-y: scroll; text-align: center;
}
#gamelist ul li{
	margin: 0.5rem; 
	border: 2px solid grey;
	color: black;
	display: inline-block;
	width: 40%; position: relative;
}
#gamelist ul li img{
	width: 100%;
}
#gamelist ul li .name{
	position: absolute; bottom: 0.5rem; color: white; width: 100%; 
	background: rgba(0,0,0,0.8); padding: 0.5rem 0rem;
}
.btn{
	background:white;
}