body{
	margin: 0; padding: 0; position: absolute; left: 0; top: 0;
	width: 100%; height: 100%; background: black; color: white;
}
ul{
	padding: 0; list-style: none;
}
.hidden{
	display: none !important;
}
.pcard{
	width: 100%;
}
.card{
	color: black; margin: 0.5rem;
}
.caret{
	display:inline-block;width:0;height:0;margin-left:.255em;
	vertical-align:.255em;content:"";border-bottom:0;
	border-right:.3em solid transparent;border-top:.3em solid;
	border-left:.3em solid transparent;
}
.card-header .title, .list-group-item .name{
	display: inline-block; float:left;
}
.card-header .toggle, .list-group-item .role{
	color: grey; display: inline-block; float: right;
}

#game-state #king .player,
#game-state #assassinate .player{
	display: flex; align-items: center; justify-content: center;
	padding: 0.2rem;
}
#game-state #king .player h3,
#game-state #assassinate .player h3{
	border-radius: 0.3rem; border: 1px solid grey; display: block;
	width: inherit; line-height: inherit; text-align: center;
	height: 100%;
}
#game-state #king .player.selected h3,
#game-state #assassinate .player.selected h3{
	border: 1px solid white; background: lightblue;
}
#game-state .btn{
	display: block; min-width: 70%; margin: auto;
}
.accept::after{
	content: "Accept";
	color: darkgreen;
}
.reject::after{
	content: "Reject";
	color: orange;
}

#popup{
	background: rgba(0,0,0,0.8);
	display: flex; align-items: center; justify-content: center;
	position: fixed; width: 100%; height: 100%;
	top: 0; left: 0;
}

#role_selection .num{
	color: grey;
}
#role_selection .role>div{
	display: inline-block; width: 3rem; border: 1px solid lightgrey;
	text-align: center; margin: 0 0.5rem;
	border-radius: 0.2rem;
	background: lightgrey;
	color: white;
}

#request_emit{
	position:fixed; right:1rem; bottom:1rem;
}