body{
	margin: 0px; padding: 0px; position: absolute; width: 100%; height: 100%;
	top: 0; left: 0; background: black; overflow: hidden;
	color: lightgrey;
}
li{
	list-style: none;
}
ul{
	padding: 0;
}
hr{
    border-top: 1px solid rgba(255,255,255,.5);
}

.hidden{
	display: none !important;
}

#game-frame, #selecting_roles, #game_end, #assassinate{
	position: absolute; top: 0; left: 0; height: 100%; width: 100%;
}
#selecting_roles h2{

}
#good, #evil{
	width: 100%; padding: 2rem;
	position: absolute; left: 0; color: lightgrey;
}
#good>ul, #evil>ul{
	height: 100%;
}
.role{
	width: 15rem; display: inline-block; height: 22rem;
	border: 1px solid white; vertical-align: top; overflow:hidden;
	margin: 0 0.5rem;
}
.role>div{
	display: flex; align-items: center;justify-content: center;
	width: 100%; height: 100%;
}
.role img{
	width: 100%;
}
.msg{
	position: fixed; top: 1rem; right: 1rem;
}

#game-frame{
	display: flex; align-items: center; justify-content: center;
}

#quest_map{
	width: 50rem; height: 30rem; border: 1px solid white; position: relative;
}
#quests{
	position: absolute; top: 8rem; left: 2rem; vertical-align: top;
}
#quests .quest{
	border: 1px solid white; 
	height: 7rem; width: 7rem; 
	border-radius: 50%;
	margin: 1rem;
	display: inline-block; text-align: center; 
	padding-top: 1.6rem;
	color: white; position: relative;
}
#quests .quest.pass{
	background: lightgreen; color: black;
}
#quests .quest.fail{
	background: tomato; color: black;
}
#quests .quest .failures{
	position: absolute; bottom: 0.7rem; width: 100%; color: black; left: 0rem;
	font-weight: bold; font-size: 1rem;
}
#rejects{
	position: absolute; bottom: 2rem; left: 2rem;
}
#rejects .reject{
	border: 1px solid white;	
	border-radius: 50%;
	height: 3rem; width: 3rem; 
	margin: 3rem; display: inline-block; 
}
#rejects .reject.fill{
	background: lightgrey;
}

#players_cont{
	width: 100%; height: 100%; position: fixed; top: 0; left: 0;
}
#players_cont .player{
	position: fixed; border: 1px solid lightgrey; border-radius: 1rem;
	width: 10rem; height: 10rem; text-align: center;
}
#players_cont .player div{
	background-repeat: no-repeat; background-size: cover;
  	height: 2.5rem; width: 2.5rem; display: none;
} 

#players_cont .player.onquest .onquest{
	/*content: "ON QUEST"; color: lightgreen;*/
	background-image: url("../img/quest.png"); display: inline-block;
}
#players_cont .player.isking .isking{
	/*content: "KING"; color: orange;*/
	background-image: url("../img/king.png"); display: inline-block;
}
#players_cont .player.voting .voting{
	/*content: "VOTING"; color: tomato;*/
	background-image: url("../img/vote.png"); display: inline-block;
}
#players_cont .player.ishammer .ishammer{
	/*content: "HAMMER"; color: brown;*/
	background-image: url("../img/hammer.png"); display: inline-block;
}
#players_cont .player.nominated .nominated{
	/*content: "NOMINATED"; color: lightgreen;*/
	background-image: url("../img/nominate.png"); display: inline-block;
}

#players_cont .player.isking{
	box-shadow: 0 0 20px orange;
}
#players_cont .player.voting{
	box-shadow: 0 0 20px tomato;
}
#players_cont .player.nominated{
	box-shadow: 0 0 20px lightgreen;
}
#players_cont .player.onquest{
	box-shadow: 0 0 20px lightgreen;
}

#game_end, #assassinate{
	display: flex; align-items: center; justify-content: center; 
	background: rgba(0,0,0,0.8);
}